body {
  text-align: center;
}
h1 {
  color: red;
}

.robotImg {
  display: block;
  height: 200px;
  max-width: 80%;
  margin: 0 auto;
  box-shadow: 2px 2px 2px 5px#aaa;
  border-radius: 5px;
}

.robotRow {
  margin: 3% 3%;
}

/*.playerSelection {
  text-align: center;
}*/

.player h3 {
  padding: 10px;
}

.playerName {
  display: block;
  margin: 3% auto;
  width: 50%;
}

.submit {
  display: block;
  margin: 10px auto;
}

.hidden {
  display: none;
}

.selected {
  display: block;
}

.battlefield {
  background-color: rgba(25, 173, 110, 0.6);
  box-shadow: 2px 2px 2px 5px#aaa;
  border-radius: 5px;
  height: 500px;
  max-width: 100%;
}

