/*Global Styles*/
body {
  text-align: center;
}
h1 {
  color: red;
}

/*Card Styling*/
.card {
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}

/* Hidden Weapons */
.hidden {
  display: none;
}

/*Robot and Weapon Image Styling*/
.robotImg {
  display: block;
  height: 200px;
  max-width: 80%;
  margin: 0 auto;
  box-shadow: 2px 2px 2px 5px#aaa;
  border-radius: 5px;
  padding: 5%;
}

.robotRow {
  margin: 3% 3%;
}

/*.playerSelection {
  text-align: center;
}*/

.player h3 {
  padding: 10px;
}

.playerName {
  display: block;
  margin: 3% auto;
  width: 50%;
}

.submit {
  display: block;
  margin: 10px auto;
}


.battlefield {
  background-color: rgba(25, 173, 110, 0.6);
  box-shadow: 2px 2px 2px 5px#aaa;
  border-radius: 5px;
  height: 500px;
  max-width: 100%;
}

.attack {
  display: block;
  margin: 95% auto 2%;
  font-size: 1.5em;
  padding: 2%;
}


.selectedItem {
  height: 250px;
  max-width: 85%;
  box-shadow: 4px 4px 4px 10px #555;
  border-radius: 5px;
}

/*.description {
  position: absolute; 
  top: 0%; 
  left: 25%; 
  z-index: 10;
  display: block;
  height: 200px;
  max-width: 50%;
  margin: 0 auto;
  background-color: rgba(112, 170, 211, 0.5);
  padding: 20px;
}*/

.backgroundRobot {
  opacity: 0.3;
}


